In [1]:
import re

regex = re.compile('[a-f]')
s = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ01234567891011121314151617181920'

regex.findall(s)
regex.search(s).end()

1

In [ ]:
regex.search(s).start()

0

In [ ]:
regex.search(s).end()

1

In [ ]:
regex.search(s).span()

(0, 1)

In [2]:
# Tutorial 1
import re
re_eq = re.compile(r'([a-zA-Z]+) : (\d+)')
string = 'name : leehojun, age : 10, height : 180, email : paul-lab@naver.com'
result = re_eq.search(string)

print(f're.search(re_eq, string) : {result}')

if result:
  print(f'start: \t{result.start()}')
  print(f'end: \t{result.end()}')
  print(f'length: \t{result.span()}')
  print(f'group0: \t{result.group(0)}')
  print(f'group1: \t{result.group(1)}')
  print(f'group2: \t{result.group(2)}')
  print(f'groups: \t{result.groups()}')
  print(f'groupdict: \t{result.groupdict()}')
else:
  print('no result')

re.search(re_eq, string) : <re.Match object; span=(17, 25), match='age : 10'>
start: 	17
end: 	25
length: 	(17, 25)
group0: 	age : 10
group1: 	age
group2: 	10
groups: 	('age', '10')
groupdict: 	{}

In [ ]:
result_findall = re_eq.findall(string)
print(f're_eq.findall: {result_findall}')

re_eq.findall: [('age', '10'), ('height', '180')]
['name : leehojun, ', 'age', '10', ', ', 'height', '180', ', email : paul-lab@naver.com']

In [ ]:
result = re_eq.finditer(string)
print(f're.finditer(string): f{result}')

re.finditer(string): f<callable_iterator object at 0x7fd7c2281d10>

In [ ]:
for i in result:
  print(i)
  print(i.start(), i.end())
  print(i.group())
  print(i.group(1))
  print(i.group(2))

<re.Match object; span=(17, 25), match='age : 10'>
17 25
age : 10
age
10
<re.Match object; span=(27, 39), match='height : 180'>
27 39
height : 180
height
180

In [3]:
# tutorial 3
# regex split

# default
result = re_eq.split(string)
print(result)

['name : leehojun, ', 'age', '10', ', ', 'height', '180', ', email : paul-lab@naver.com']

In [4]:
# split by comma
result = re.split(r',', string)
print(result)

['name : leehojun', ' age : 10', ' height : 180', ' email : paul-lab@naver.com']

In [5]:
# split by comma with maximum split number
result = re.split(r',', string, 2)
print(result)

['name : leehojun', ' age : 10', ' height : 180, email : paul-lab@naver.com']

# Regex Substitution
`re.sub({regex}, {to-be-replaced}, {string})`

In [8]:
# Tutorial 4
re_comma = re.compile(r',')
result = re_comma.sub("!!!", string)
print(f"Before :\t{string}")
print(f"After :\t{result}")

Before :	name : leehojun, age : 10, height : 180, email : paul-lab@naver.com
After :	name : leehojun!!! age : 10!!! height : 180!!! email : paul-lab@naver.com

# Tutorial 5 - Unzip pressed text
## task
- Press text `aaabbccc` -> `a3b2c3`
- Make pressed text into the original

In [10]:
re_letter = re.compile(r'([a-z])([1-9])')
string = 'a3b4c2'

result = re_letter.findall(string)
print(result) # make tuple as groupped
s = ''

for i, j in result:
  print(f"Letter {i}: Count {j}")
  s += i*int(j)

print(s)

[('a', '3'), ('b', '4'), ('c', '2')]
Letter a: Count 3
Letter b: Count 4
Letter c: Count 2
aaabbbbcc

# Tutorial 6 - Convert dict to split form
## Task
### input
```
[(name, leehojun), (age, 10), (height, 180), (email, paul-lab@naver.com)]
```

### expected output
```
[('name', 'leehojun'),
('age', '10'),
('height', '180'),
('email', paul-lab@naver.com')]
```

In [13]:
import re
re_p = re.compile(r'\(([a-zA-Z0-9]+), ([a-zA-Z0-9\-\@\.]+)\)')

string =  '[(name, leehojun), (age, 10), (height, 180), (email, paul-lab@naver.com)]'

result = re_p.findall(string)
'''
print("[")
for slot, value in result:
  print(f"('{slot}', '{value}'),")
print("]")
'''

print(result)

[('name', 'leehojun'), ('age', '10'), ('height', '180'), ('email', 'paul-lab@naver.com')]

# Tutorial 7 - Convert string
## Task
### input
```
6746-29301-28391 신한은행
```

### expected output
```
신한은행!!! 6746 29301 28391
```

In [16]:
re_pattern = re.compile(r"(?P<one>\d+)-(?P<two>\d+)-(?P<three>\d+) (?P<four>\w+)")
string = "6746-29301-28391 신한은행"

m = re_pattern.match(string)

print(f"{m.group(4)}!!! {m.group(1)} {m.group(2)} {m.group(3)}")

print(m.expand('\g<four>!!! \g<one> \g<two> \g<three>'))
print(m.group(1))
print(m.group('one'))
print(m.groups())
print(m.groupdict())

신한은행!!! 6746 29301 28391
신한은행 !!! 6746 29301 28391
6746
6746
('6746', '29301', '28391', '신한은행')
{'one': '6746', 'two': '29301', 'three': '28391', 'four': '신한은행'}

In [21]:
re_pattern = re.compile(r'(\d+)-(\d+)-(\d+) (\w+)')
string = "6746-29301-28391 신한은행"
re_pattern = re.compile(r'(?P<one>\d+)-(?P<two>\d+)-(?P<three>\d+) (?P<bank>\w+)')

m = re_pattern.match(string)

print(m)
print(m.group(4))
print(m.groups())
print(m.groupdict()) #### if group name is not defined, gourpdict has no value at all. 
print(m.expand('\g<bank>: \g<one>&\g<two>&\g<three>'))
print(m.group('bank'))

<re.Match object; span=(0, 21), match='6746-29301-28391 신한은행'>
신한은행
('6746', '29301', '28391', '신한은행')
{'one': '6746', 'two': '29301', 'three': '28391', 'bank': '신한은행'}
신한은행: 6746&29301&28391
신한은행